*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.hometext .container{
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

/* =======title======= */

.hometext span{
    letter-spacing: 2px;
    text-align: center;
    display: block;
    font-size: 1.4em;
    margin-left: 1px;
    margin-top: 0.2em;
}

.hometext h1{
    font-size: 6em;
    line-height: 70px;
    text-align: center;

} 

@media screen and (min-width: 720px){
    .hometext h1{
        font-size: 9em;
        line-height: 107px;
        margin-bottom: 100px;
    }
    .hometext span{
    letter-spacing: 1px;
    text-align: center;
    display: block;
    font-size: 2.4em;
    margin-left: 10px;
    margin-bottom: -40px;
}
}

@media screen and (min-width: 832px){
    .hometext h1{
        font-size: 8em;
        line-height: 95px;
        margin-bottom: 50px;
    }
    .hometext span{
    letter-spacing: 2px;
    text-align: center;
    display: block;
    font-size: 2.4em;
    margin-left: 10px;
    margin-bottom: -40px;
}
}

/* =======button======= */

.button{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: .5em 1.75em;
}

.button-small{
    font-size: .7rem;
}

.button-accent{
    color: chocolate;
}

.button-accent:hover{ 
    background:goldenrod;
    color: black;
    transition: 150ms ease-in;
}

@media screen and (min-width:916px){
    .button{
        font-size: 1.7rem;
    }
}

/* ======header====== */
header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

.logotext{
    font-family: 'Inria Sans', sans-serif;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    padding: .2em;
    color: chocolate;
}

nav a:hover,
nav a:focus{
    color: goldenrod;
}

@media screen and (min-width: 832px){
    .logo{
        font-size: 15px;
        margin-top: -20px;
        margin-left: 10px;
        float: left;
    }

    nav{
        float: right;
    }
    nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    padding: 0.4em;
    color: chocolate;
}
}
@media screen and (min-width: 768px){
    .logo{
        font-size: 18px;
        margin-top: -20px;
        margin-left: 10px;
        float: left;
    }

    nav{
        float: right;
    }
    nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    padding: 0.4em;
    color: chocolate;
}
}

/* =======home-bg======= */
.hometext{
    background-image: url(assets/header-img4.jpg);
    padding: 10em 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* ========about-us======= */

.about-text{
    background-color: #232323;
    padding: 4em;
    outline: 2px solid chocolate;
    outline-offset: -2.1em;
    color: white;
    position: relative;
}

.about-text p{
    text-align: center;
    font-family: monospace;
}

.about-text h1{
    font-size: 2rem;
    font-weight: 500;
    color: chocolate;
    margin-top: 0;
    position: absolute;
    top: .4em;
    left: 50%;
    transform: translateX(-100%);
    margin-left: 50px;
    padding: 0 3px;
    background-color: #232323;
}

@media screen and (min-width:400px){
    .about-text h1{
        top: .8rem;
        padding: 0 .365em;
        left: 52%;
    }
}

/* ========portfolio======= */

.portfolio .container{
    position: relative;
    width: 1348px;
    height: 600px;
    margin: 30px auto  ;
    /* background: #262626; */
}

.portfolio .container .box{
    position: relative;
    width: calc(449.33px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
}

.portfolio .container .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.portfolio .container .box:hover:before{
    transform: scaleX(1);
    opacity: 1;

}

.portfolio .container .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

.portfolio .container .box:hover:after{
    transform: scaleY(1);
    opacity: 1;   
}

.portfolio .container .box .imgbox{
    position: relative;
}

.portfolio .container .box .imgbox img{
    width: 100%;
    transition: 0.5s;
}

.portfolio .container .box:hover .imgbox img{
    opacity: .2;
    transform: scale(1.2);
}


.portfolio .container .box .content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.portfolio .container .box .content h2{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity:0;
    visibility: hidden;
}

.portfolio .container .box .content p{
    margin: 0 0 10px;
    padding: 0;
    font-family: monospace;
    color: #fff;
    transition: 0.5s;
    transform: translateY(50px);
    opacity:0;
    visibility: hidden;
}

.portfolio .container .box:hover .content h2,
.portfolio .container .box:hover .content p{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

@media screen and (max-width:1350px){
    .portfolio .container{
        width: 1000px;
        height: 950px;
        margin: 0px 220px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:1300px){
    .portfolio .container{
        width: 1000px;
        height: px;
        margin: 0px 190px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:1200px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 150px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:1100px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 100px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:1024px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 70px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}



@media screen and (max-width:1000px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 45px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:951px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 25px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:924px){
    .portfolio .container{
        width: 900px;
        height: px;
        margin: 0px 18px 4px;
    }
    .portfolio .container .box{
        width: calc(449.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}


@media screen and (max-width:875px){
    .portfolio .container{
        width: 700px;
        height: px;
        margin: 0px 50px 4px;
    }
    .portfolio .container .box{
        width: calc(749.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:780px){
    .portfolio .container{
        width: 700px;
        height: px;
        margin: 0px 18px 4px;
    }
    .portfolio .container .box{
        width: calc(749.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:750px){
    .portfolio .container{
        width: 660px;
        height: px;
        margin: 0px 60px 4px;
    }
    .portfolio .container .box{
        width: calc(630.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:700px){
    .portfolio .container{
        width: 660px;
        height: px;
        margin: 0px 30px 4px;
    }
    .portfolio .container .box{
        width: calc(649.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:654px){
    .portfolio .container{
        width: 600px;
        height: px;
        margin: 0px 0px 4px;
    }
    .portfolio .container .box{
        width: calc(649.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:600px){
    .portfolio .container{
        width: 500px;
        height: px;
        margin: 0px 0px 4px;
    }
    .portfolio .container .box{
        width: calc(595.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:550px){
    .portfolio .container{
        width: 500px;
        height: px;
        margin: 0px 15px 4px;
    }
    .portfolio .container .box{
        width: calc(525.33px - 30px);
        height: calc(400px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:500px){
    .portfolio .container{
        width: 500px;
        height: px;
        margin: 0px 0px 4px;
    }
    .portfolio .container .box{
        width: calc(495.33px - 30px);
        height: calc(300px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:414px){
    .portfolio .container{
        width: 400px;
        height: px;
        margin: 0px 10px 4px;
    }
    .portfolio .container .box{
        width: calc(399.33px - 30px);
        height: calc(240px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:400px){
    .portfolio .container{
        width: 300px;
        height: px;
        margin: 0px 10px 4px;
    }
    .portfolio .container .box{
        width: calc(370.33px - 30px);
        height: calc(240px - 30px);
        margin: 15px;
    }
}
@media screen and (max-width:360px){
    .portfolio .container{
        width: 300px;
        height: px;
        margin: 0px 10px 4px;
    }
    .portfolio .container .box{
        width: calc(345.33px - 30px);
        height: calc(200px - 30px);
        margin: 15px;
    }
}

@media screen and (max-width:320px){
    .portfolio .container{
        width: 300px;
        height: px;
        margin: 0px -1px 4px;
    }
    .portfolio .container .box{
        width: calc(320.33px - 30px);
        height: calc(210px - 30px);
        margin: 15px;
    }
}

/* =======contact======= */

.contact-section{
    background: url(./assets/contact-bg.jpg);
    background-size: cover;
    padding-top: 20px;
    margin-top: 20px;
    height: 600px;  
} 

.contact-section h1{
    text-align: center;
    padding-top: -10px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 220px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
} 

@media screen and (max-width:875px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 220px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}


@media screen and (max-width:411px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 130px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}

@media screen and (max-width:414px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 130px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}

@media screen and (max-width:375px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 110px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}

@media screen and (max-width:360px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 100px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}

@media screen and (max-width:320px){
    .contact-section{
        background: white;
        padding-left: 10px;
    }
    .contact-section h1{
    text-align: center;
    margin-top: -100px;
}

.border{
    width: 100px;
    height: 10px;
    background: goldenrod;
    margin: 30px auto;
}

.contact-form  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: left;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 25px;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b4b7a;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    margin-left: 75px;
    border: 0;
    background: goldenrod;
    color:black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: black;
    color: goldenrod;
}
}


/* .container{
    position: relative;
    width: 1200px;
    margin: 0;
} */


/* @media screen and (min-width:800px){
    .about-text{
    background-color: #232323;
    padding: 4em;
    width: 10%;
    }

    .about-text h1{
        top: .1rem;
        padding: 0 .365em;
        left: 55%;
        font-size: 3rem;
    }
} */

/* @media screen and (min-width: px){
    .hometext{
        height: 105vh;
        padding-top: vh;
    }
} */

/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0000;
    font-family: 'Inria Sans', sans-serif;
}

.logo{
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: chocolate;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.ham{
    display: none;
    cursor: pointer;
}

.ham div{
    width:25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 49%;
    }
    .logo{
        font-size: 19px;
        letter-spacing: 1px;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        padding: 0px 100px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: crimson;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease in;
    }
    .nav-links li a{
        color: white;
    }
    .logo{
        font-size: 20px;
        letter-spacing: 1px;
        padding-left: 100px;
    }
    .nav-links li{
        opacity: 0;
    }
    .ham{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
} */

/* html,body{
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
} */


/* .wrapper{
    background-image: url(./assets/header-img4.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100%;
} */

/* .header{
    padding: 15px 35px;
    display: inline-block;
    width: 100%;
} */

/* .logo{
    float: left;
    margin-top: 5px;
    color: 0000;
} */

/* img{
    max-width: 100%;
} */

/* .menu{
    float: right;
    margin-top: 6px;
} */

/* .menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;

} */

/* .menu ul li{
    display: inline-block;
    list-style: none;
    float: left;
    line-height: 28px;
    margin-top: 2px;
}

.menu ul li a{
    text-decoration: none;
    position: relative;
    display: block;
    color: chocolate;
    font-size: 24px;
    padding: 5px 20px;
    letter-spacing: 3px;
}

.menu ul li a:hover{
    color: white;
    transition: 350ms;
}

.logo h1{
    font-family: 'Inria Sans', sans-serif;
}

.name{
    width: 350px;
    margin-top: 200px;
    text-align: right;
    margin-left: 15px;
}

.name h5{
    color: chocolate;
    font-size: 20px;
    letter-spacing:5px;
}

.name h1{
    color: black;
    font-size: 140px;
    line-height: 108px;
}

@media screen and (max-width:1200px){
    .header{
        margin: 20px;
    }
}

@media screen and (max-width:729px){
    .toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: black;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 0px;   
    }
    .toggle.active:before{
        content: '\f00d';   
    }
    .menu{
        display: none
    }
    .menu.active{
        display: block;
        width: 100%;
    }
    .menu.active ul{
        display: block;
    }
    .menu.active ul li{
        display: block;
    }
} */


